body {
  margin: 0;
  padding: 0;
  background-color: #0a1f58;
}

nav {
  position: relative;
}

nav h1 {
  font-family: "Merriweather Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  color: #fff;
  margin-bottom: 10px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}

.nav-logo img {
  width: 75px;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  margin-bottom: 35px;
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 75px;
}

.text-bouton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 40%;
  text-align: center;
  font-family: "Lexend", serif;
}

.text-bouton h2 {
  color: #fff;
  font-size: 3.5rem;
}

.bouton-connexion {
  display: flex;
  gap: 25px;
}

.bouton-connexion button {
  width: 167px;
  height: 50px;
  border-radius: 11px;
  background-color: #89ddff;
  color: #0a1f58;
  font-family: "Lexend", serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
