#tabMembres {
    margin-top: 15px;
    align-self: start;
    width: 85%;
    border-collapse: collapse;
}

td,
th {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

th {
    border-bottom: #000 solid 4px;
    font-weight: bold;
    background-color: #d9d9d9;
}

.thBorder {
    border-right: #000 solid 4px;
}

.tdBorder {
    border-right: #000 solid 4px;
    border-bottom: #000 solid 4px;
}

.tdBorderRight {
    border-bottom: #000 solid 4px;
}

.tdBorderBottom {
    border-right: #000 solid 4px;
}

.buttonAdmin {
    cursor: default;
    background-color: #9E9E9E;
}

.buttonAdmin:hover {
    background-color: #9E9E9E;
}

.titleInfo {
    font-family: "Lexend", serif;
    font-size: 1rem;
    margin-left: 150px;
    margin-top: 3rem;
    position: absolute;
}

select {
  font-family: "Lexend", serif;
  text-align: left;
  font-size: 0.9rem;
  background-color: #d9d9d9;
  border: none;
  border-bottom: #000 solid 4px;
  padding: 5px;
  width: 200px;
  height: 50px;
}

