.reaction {
  position: absolute;
  top: 175px;
}

.btn-proposition {
  width: 100px;
  position: absolute;
  top: 175px;
  left: 365px;
}

.btn-group {
  display: flex;
  gap: 10px;
}

.buttonDeleteGroup {
  background-color: rgb(164,0,0);
}

.buttonDeleteGroup:hover{
  background-color: rgb(145,0,0);
}